body{
    background-image: url(images/orbit2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size:large;
}

nav{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

h3{
    margin: 5px 0px 0px 100px;
    /* font-family: ; */
}

a{
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

.sign{
    margin-right: 100px;
    display: flex;
    gap: 12px;
}

.sign_in {
    background: transparent;
    border: solid white 1px;
}

button{
    padding: 8px 20px 8px 20px;
    border-style: none;
    border-radius: 6px;
    color: white;
    background: linear-gradient(190deg, rgb(31,133, 200), rgb(140, 71, 250) );
}

#get_started{
    width: fit-content;
    position: relative;
    left: 40%;
    top: 10px;
    padding: 15px 20px 15px 20px;
}

.links{
    justify-content: space-between;
    padding-top: 5px;
}

.main_div{
    width: max-content;
    position: relative;
    left: 30%;
    /* right: 50%; */
    margin: 200px 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    /* text-align: center; */
    font: 60px sans-serif ;
    font-weight: 600;
    margin: auto auto 20px auto;
}

h5{
    margin: 0;
    text-align: center;
    font-weight: 3;
    opacity: 0.8;

}